name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'  # Set to your preferred Flutter version, or omit for latest

    - name: Install dependencies
      run: flutter pub get
      working-directory: ${{ github.workspace }}

    - name: Run tests
      run: flutter test
      working-directory: ${{ github.workspace }}
